@import '../../styles/common';

$breakpoint: 768px;

.Header {
  background: color('white');
}

.compressed {
  @include breakpoint-after($breakpoint) {
    .Section {
      height: 80px;
    }
  }
}

.slim {
  background: transparent;
  border-bottom: 1px solid #E0E0E0;

  .Section {
    height: 50px;
  }
}

.separator:not(.slim) {
  .Section + .Section {
    @include breakpoint-after($breakpoint) {
      border-left: 1px solid #E0E0E0;
    }
  }
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1256px;
  margin: 0 auto;

  @include breakpoint-before($breakpoint) {
    flex-wrap: wrap;
  }
}

.Section {
  display: flex;
  align-items: center;
  flex: 0;
  min-width: layout-width('secondary');
  max-width: 100%;
  height: 175px;
  padding: 0 spacing();
  transition-property: height;
  transition-duration: duration();
  transition-timing-function: easing();

  @include breakpoint-before($breakpoint) {
    flex: 1 1 100%;
    height: auto;
    padding: spacing();

    &:empty {
      display: none;
    }
  }
}

.Section-fill {
  flex: 1;
}

.Section-spacingNone {
  padding: 0;
}

.Section-action {
  @include breakpoint-after($breakpoint) {
    justify-content: center;
  }
}
