@import '../../styles/common';

$stacking-order: (
  'backdrop': 10,
  'content': 20,
  'element': 30
);

.Select {
  position: relative;
}

.appearanceDefault {
  &.disabled {
    color: #AFAFAF;
    cursor: initial;

    > .Backdrop {
      @include control-backdrop('default', 'disabled');
    }
  }

  &.error > .Backdrop {
    @include control-backdrop('default', 'error');
  }

  > .Element:focus ~ .Backdrop {
    @include control-backdrop('default', 'focused');
  }

  > .Content {
    padding: spacing('tight') spacing('extra-tight') spacing('tight') 0;
  }

  > .Backdrop {
    @include control-backdrop('default');
  }
}

.appearanceBorder {
  &.disabled {
    color: #AFAFAF;
    cursor: initial;

    > .Backdrop {
      @include control-backdrop('border', 'disabled');
    }
  }

  &.error > .Backdrop {
    @include control-backdrop('border', 'error');
  }

  > .Element:focus ~ .Backdrop {
    @include control-backdrop('border', 'focused');
  }

  > .Content {
    padding: spacing('tight');
  }

  > .Backdrop {
    @include control-backdrop('border');
  }
}

.appearanceWhite {
  &.disabled {
    color: #AFAFAF;
    cursor: initial;

    > .Backdrop {
      @include control-backdrop('white', 'disabled');
    }
  }

  &.error > .Backdrop {
    @include control-backdrop('white', 'error');
  }

  > .Element:focus ~ .Backdrop {
    @include control-backdrop('white', 'focused');
  }

  > .Content {
    padding: spacing('tight');
  }

  > .Backdrop {
    @include control-backdrop('white');
  }
}

.Element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: z-index('element', $stacking-order);
  width: 100%;
  height: 100%;
  margin: 0;
  // ChromeVox may hide content set to opacity: 0
  opacity: 0.001;
  appearance: none;
  -webkit-appearance: none;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  // IE 11 fix to remove default dropdown arrow
  &::-ms-expand {
    display: none;
  }
}

.Content {
  position: relative;
  z-index: z-index('content', $stacking-order);
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.SelectedOption {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.Backdrop {
  @include control-backdrop-base;
  z-index: z-index('backdrop', $stacking-order);
}

