@import '../../styles/common';

.Label {
  margin-bottom: spacing('extra-tight');
  -webkit-tap-highlight-color: transparent;
}

.Text {
  display: block;
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: 700;
  color: #666666;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}
