@import '../../styles/common';

.CustomTeamSkillsEditor {
  padding: spacing('tight');
  background: #F2F2F2;
  border-radius: border-radius('medium');
}

.Item {
  padding: spacing('extra-tight');
  font-size: 14px;
  cursor: pointer;
}

.Item-selected {
  background: #e0e0e0;
  font-weight: bold;
}
