doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="initial-scale=1.0, width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    .container
        .content
            .logo

            h1 Hi #{name},

            p Your password for your Tests account has recently been changed. If you made this change, we're all set. You don't need to reply to this message.
            p &nbsp;
            p
                | If you did not make this change, there’s no need to worry. Simply write to us at 
                a(href='mailto:help@Tests.com') help@Tests.com
            p &nbsp;
            p We are always happy to help,
            p The Tests Team
            p &nbsp;
            p &nbsp;
            a(href='https://www.Tests.com') https://www.Tests.com

        .boring-info
            div Tests is a skills visualization tool that takes into account your core job focus, soft skills and technical skills to give you and your colleagues a better picture of what engages you.
            div(style="margin: 30px 0;")
                a(href="mailto:support@Tests.com") Contact us
            div Tests is wholly owned by UpStrat Lab AB in Sweden |  Org. nr : 559172-7218
